
/DC_Programm_dockwidget_base.ui
/help
/i18n
/icon.png
/Makefile
/metadata.txt
/pb_tool.cfg
/plugin_upload.py
/pylintrc
/README.html
/README.txt
/resources.py
/resources.qrc
/scripts
/test
/__init__.py